{block breadcrumb}
<ol class="breadcrumb">
  <li><a n:href="Sluzby:">Úvod</a></li>
  <li><a n:href="Agentura:">Hudební agentura</a></li>
  <li class="active">Nová kapela</li>
</ol>
{/block}

{block content}

<h1 n:block=title>Nová kapela</h1>

{control kapelaForm}