{block breadcrumb}
<ol class="breadcrumb">
  <li><a n:href="Halfplayback:">Úvod</a></li>
  <li class="active">Kontakt</li>
</ol>
{/block}

{block content}
<h1 n:block="title">Kontakt</h1>

<h3>Lubomír Staš</h3>

<dl class="dl-horizontal">
  <dt>Adresa</dt>
  <dd>Fryčovice 255, 739 45</dd>
  <dt>Telefon</dt>
  <dd>732 483 739</dd>
  <dt>E-mail</dt>
  <dd>lubomír.space@seznam.cz</dd>
  <dt>E-mail</dt>
  <dd>audiopodklady@seznam.cz</dd>
</dl>
