{block breadcrumb}
<ol class="breadcrumb">
  <li><a n:href="Sluzby:">Úvod</a></li>
  <li><a n:href="Vydavatelstvi:">Hudební vydavatelství</a></li>
  <li class="active">Nové noty</li>
</ol>
{/block}

{block content}
<h1 n:block=title>Nové noty</h1>

{control cdForm}