<li><a n:href="Skladba:default radit=>null, asc=>null, nazev=>null, autor=>null, zanr=>null, verze=>null">Výroba a&nbsp;prodej MIDI a&nbsp;Karaoke souborů</a></li>
<li><a n:href="KaraokeNaDvd:default">Karaoke na DVD</a></li>
<li><a n:href="Vydavatelstvi:default">Hudební vydavatelství</a></li>
<li><a n:href="Agentura:default">Hudební agentura</a></li>
<li><a n:href="Bazar:default">Hudební bazar</a></li>
<li><a n:href="Sluzby:posezeniSHarmonikou">Posezení s&nbsp;harmonikou</a></li>
<li><a n:href="ProdejCd:default">Prodej CD</a></li>
<li><a n:href="Halfplayback:default">Halfplayback s&nbsp;použitím živých kytar</a></li>