{layout none}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Navýšení kreditu</title>
</head>
<body>
<p>
  Dobrý den,
</p>


<p>
 Váš kredit byl navýšen o částku {$info->castka}&nbsp;Kč.
</p>

<p>
  S pozdravem
</p>

<p>
  Ing. Lubomír Piskoř<br>
  e-mail: {$params['adminMail']} <br>
  web: <a n:href="//Sluzby:default">{link //Sluzby:default}</a>
</p>
</body>
</html>
