#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	hudba:
		cisloUctu: '43-8859840287/0100 (Komerční banka)'
		adminMail: 'lubos.p@cbox.cz'
		hpbackMail: 'audiopodklady@seznam.cz'

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error

	database:
		dsn: 'mysql:host=mysql5-3;dbname=midi_1279320'
		user: midi.1279320
		password: X2u5ReXj

	session:
		expiration: 60 minutes

