#header2 h1{
  margin: 0;
  width: 216px;
  height: 60px;
  background: url(../img/logo.png) 0 5px no-repeat;
}

#header2 h1 span{
  display: none;
}

#ulozeni legend {display: none;}
#katalog {
  color: #444;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  vertical-align: center;
  font-size: 18px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}
#katalog span {
  float: right;
}
#katalog .glyphicon {
  font-size: 40px;
  margin-right: 10px;
  font-weight: normal;
}
#katalog:hover .glyphicon {
  color: #ed9c28;
}

.carousel-wrapper {
  margin-top: 20px;
}
.carousel {
  text-align: center;
}
.carousel h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 31px;
}
.carousel .item {
  height: 200px;
}
.carousel .carousel-caption {
  color: black;
  font-size: 18px;
  text-shadow: none;
  font-family: 'Raleway', sans-serif;
}
.carousel .carousel-caption p{
  margin-bottom: 15px;
}
.carousel .carousel-control {
  background-image: none;
  width: 10%;
}


#boxy {
  margin-top: 30px;
}
#boxy h3 {
  text-align: center;
}

#boxy img {
  width: 128px;
  height: 128px;
}

#boxy ul li{
  padding: 3px 0;
}

#boxy {
  text-align: center;
}
#boxy ul{
  text-align: left;
}

#boxy .puntik {
  background-color: #F5B611;
  font-size: 50px;
  width: 130px;
  height: 130px;
  text-align: center;
  line-height: 130px;
  border-radius: 50%;
  margin: 0 auto;
}

#boxy .formaty:hover .puntik,
#boxy .novinky:hover .puntik,
#boxy .oblibene:hover .puntik {
  background-color: #ED9C28;
}

/* u registracniho formulare je potreba mensi label, jinak se do nej nevejdou texty */
#frm-uzivatelForm .control-label {
  width: 30%;
}

.pagination-wrapper {
  text-align: center;
}

.btn-warning {
  background-color: #F5B611;
}
#header2 .btn-warning {
  font-family: 'Raleway', sans-serif;
}

