{block breadcrumb}
<ol class="breadcrumb">
  <li><a n:href="Sluzby:">Úvod</a></li>
  <li><a n:href="Halfplayback:">Halfplayback</a></li>
  <li class="active">Nová skladba</li>
</ol>
{/block}

{block content}
<h1 n:block=title>Nová skladba</h1>

{control skladbaForm}