{block breadcrumb}
<ol class="breadcrumb">
  <li><a n:href="Sluzby:">Úvod</a></li>
  <li><a n:href="Bazar:">Hudební bazar</a></li>
  <li class="active">Nový inzerát</li>
</ol>
{/block}

{block scripts}
<script>
  $( "input[name='antiSpam']" ).closest( "div.form-group" ).css( "display", "none" );
  $( "input[name='antiSpam']" ).val("6");
</script>
{/block}

{block content}
<h1 n:block=title>Nový inzerát</h1>

{control inzeratForm}